body{
    overflow-x: hidden;
}
.flexcon{

    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(170, 206, 240, 0.7);
    flex-direction: column;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    max-width: 90vw;
    
}


.flexcon__titulo{
    font-family: quicksand;
    color: #ffe598eb;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


.flexcon__imagenes{
    display: flex;
    border-radius: 6px;
    float: left;
    flex-basis: 1200px;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
}
.flexcon__descipcion{
    display: flex;
    
}
.descripcion{
    margin-left: 16px;
    
}


.carrousel__img{
    width: 640px;
    height: 360px;
    float: left;
    object-fit: cover;
    overflow: hidden;
}

.flexcon__propiedades{
    border-radius: 6px;
    margin: 12px 9px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
}


.flexcon__img__descip{
    margin: 6px 1rem;
 display: flex;
 
}


.celda{
    border-radius: 12px;
    background-color: rgb(49, 112, 143) ;
    display: inline-block;
    margin: 4px, 1rem;
    border: 1px solid #000000eb;
    text-align: center;
    color: white;
    padding: 8px 4px;
}
.celda p{
    display: inline-block;
    margin: 0;
}
.celda:nth-child(7){
    background-color: rgba(7, 94, 84);
    }
    .celda:nth-child(8){
        background-color: rgba(225, 48, 108) ;
    }
.celda:visited{
    color: white;
    }
.celda:link{
   color: white;
    }
 
    @media screen and (min-width: 360px) AND (max-width: 750px){
        .flexcon__imagenes{
            flex-basis: 0;
             width: 320px !important;
             flex-grow: 1;
 
         }
         .flexcon__img__descip{
            
         display: flex;
         flex-wrap: wrap;
         
        }
        .carrousel__img{
            overflow: hidden;
            width: 320px;
            height: auto;
            object-fit: cover;
        }
    }
    @media screen and (min-width: 100px) AND (max-width: 360px){
        .flexcon__imagenes{

            width: 128px;
            height: 120px;
            flex-grow: 1;

        }
        .flexcon__img__descip{
            
         display: flex;
         flex-wrap: wrap;
         
        }
        .flexcon__propiedades{
            font-size: 12px;
            padding: 4px;
        }
        .carrousel__img{

            height: auto;
            width: 180px;
          
        }
        .flexcon__descipcion{
            font-size: 10px;
        }
        .celda{
            padding-top: 10px;
        }
        .descripcion{
            margin-left: 0;
            padding: 8px;
            padding-bottom: 0;
            
        }
    }


