
    :root{
        --bs-accordion-active-color: #075354;
    }

#desplegable{
    width: 100%;
}
.accordion-header button{

    background-color: #159A9C;



}
.accordion-body{
    background-color: #DEEFE7;
}
body{
    background: linear-gradient(to left, #159A9C, #ffffff);
    display: flex;
    padding: 0;
    margin: 6px;
    height: 100vh;
    align-items: center;
    width: 100vw;
    justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.accordion{
    background-color: #002333;
}
.lab{
    color: aliceblue;
    font-size: medium;
    margin-right: 12px;

}
.form__tit{
    color: #ffffff;
}
.nav-costado{
width: calc(20% - 12px);
height: calc(100% - 12px);
background-color: #B4BEC9;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.formFlexPadre{
    flex-wrap: nowrap;
    width: calc(80% - 12px);
    height: calc(100% - 12px);
    align-items: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002333;
    padding: 12px;
}
.formFlex__div{
    min-width: 150px;
    margin: 12px;
    width: 30%;
}
.formFLex__input {
    order: 2;
    outline: none;
     margin: 10px 0;
     width: 90%;
     padding: 12px;
     background-color: #DEEFE7;
     border: none;
     border-left: 4px solid #159A9C;
}
.formFLex__input:focus{
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-left: 6px solid #183543;   
    background-color: #159A9C;
    transition: all .6s;
}
textarea{
    resize: none;
    min-height: 90px;
}
.formFlex{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    order: 2;
    margin: 40px;
    min-width: 400px;
    text-align: center;
    margin: auto;
    flex: 1.5;
}
.formFlex__img{
    order:1;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-shrink: 0;
    display: flex;
    flex: 1;
   margin: auto;
   padding-left: 60px;
   padding-right: 60px;
   
}
.sumb{
    margin-top: 0px;
    margin-bottom: 10px;
    border-right: 4px solid #159A9C;
}
.sumb:focus{
    outline: none;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    background-color: rgb(174, 174, 255);
    border: none;
    border-left: 4px solid #183543;
    margin-top: 0px;
    margin-bottom: 10px;
    border-right: 4px solid #183543;
}

/*side nav var*/
#sn--foto{
    width: 5rem;
    border-radius: 50%;
}
#sn--user{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4px;
}

#sn--rol{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


@media only screen and (max-width: 460px) {

    body{
        margin: 0;
        justify-content: center;
    }
    .nav-costado{
        display: none;
    }




    .formFLex__input {

         padding: 4px;

    }
    .formFlex__img{
        order: 1;
        max-width: 500px;
        min-width: 300px;
       margin: auto;
       padding-left: 1rem;
       padding-right: 1rem;
       
}
.formFlex{
    margin: auto;
    min-width: 200px;
    flex: 1.5;
}
}