body{
    background: linear-gradient(to left, #ffe598eb, rgb(37, 115, 153));
}
.lab{
    color: aliceblue;
    font-size: medium;
    margin-right: 12px;


}
.formFlexPadre{
    overflow: auto;
    flex-wrap: wrap;
    margin: 50px auto;
    display: flex;
    align-items: center;
    background-color: rgb(56, 80, 160);
    padding: 12px;
}
.formFLex__input {
    order: 2;
    outline: none;
     margin: 10px 0;
     width: 300px;
     padding: 12px;
     background-color: rgb(174, 174, 255);
     border: none;
     border-left: 4px solid rgb(255, 175, 25);
}
.formFLex__input:focus{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-left: 6px solid rgb(28, 28, 255);   
    background-color: rgb(248, 200, 111);
    transition: all .6s;
}
textarea{
    resize: none;
    min-height: 90px;
}
.formFlex{
    order: 2;
    margin: 40px;
    min-width: 400px;

    text-align: center;
    margin: auto;
    flex: 1.5;
}
.formFlex__img{
    order:1;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-shrink: 0;
    display: flex;
    flex: 1;
   margin: auto;
   padding-left: 60px;
   padding-right: 60px;
   
}
.sumb{
    margin-top: 0px;
    margin-bottom: 10px;
    border-right: 4px solid rgb(255, 175, 25);
}
.sumb:focus{
    font-size: medium;
    outline: none;
    font-weight: 100;
    color: black;
    margin: 10px 0;
    width: 300px;
    background-color: rgb(174, 174, 255);
    border: none;
    border-left: 4px solid rgb(255, 175, 25);
    margin-top: 0px;
    margin-bottom: 10px;
    border-right: 4px solid rgb(255, 175, 25);
}
@media only screen and (max-width: 460px) {
    .formFLex__input {

         padding: 4px;

    }
    .formFlex__img{
        order: 1;
        max-width: 500px;
        min-width: 300px;
       margin: auto;
       padding-left: 1rem;
       padding-right: 1rem;
       
}
.formFlex{
    margin: auto;
    min-width: 200px;
    flex: 1.5;
}
}