
body{
    background-color: olive;
}
.bodytodos{
    background-image: url(https://cdn.agroempresario.com/images/posts/e01609cbea4d79d78388fb811fbef50068f23577103c9af6_840.jpg);
    background-size: cover;
  background-attachment: fixed;
}
.navpc{
    background-color: rgb(43, 153, 37);
}
.nav85{
    background-color: rgb(43, 153, 37);
}

.titulos__h1{
    color: #edba2d;
}
.titulos__h2{
    color: rgb(128, 240, 137);
}

.carta {
    background-color: rgba(191, 252, 188, 0.8);
}
.foot{
    background-color: rgb(43, 153, 37, .8);
}

.carta:hover{
    box-shadow: 12px 8px 1px rgba(90, 250, 82, 0.95);
    transition: all .7s;
    }