body{
    background-color: rgb(90, 74, 20);
}
.bodytodos{
    background-image: url(https://www.norte.com/img/2018/09/purmamarca.jpg);
    background-size: cover;
  background-attachment: fixed;
}
.navpc{
    background-color: rgb(191 124 54);
}
.nav85{
    background-color: rgb(191 124 54);
}

.titulos__h1{
    color: #b9d7ff;
}
.titulos__h2{
    color: rgb(249 78 40);
}

.carta {
    background-color: rgba(229, 146, 113, 0.8);
}
.foot{
    background-color: rgb(191, 124, 54, .8);
}

.carta:hover{
    box-shadow: 12px 8px 1px rgba(218, 83, 30, 0.95);
    transition: all .7s;
    }