/*desapaarecer nav85*/
.nav85{
    opacity: 0;
   position: absolute;
   margin: -500px;
}
.buscadorResponsive{
    color: white;
    position: absolute;
    margin: -400px;
}
.menu-cel-s{
    position: absolute;
    margin: -600px;
}
/* trabajar el nav 85*/
.nav85{
    z-index: 2;
    display:flex ;
    flex-wrap: wrap;
    position: fixed;
    align-items: flex-end;
}
.nav85__imna{
    display: inline-block;
    height: 6rem;
}
.nav85__contenedor{
    
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 0%;
    padding-bottom: 0;
    display: flex;

}
.nav85__contenedor--ul{
    list-style: none;
    padding-bottom:0 ;
    margin-bottom: 0%;
}
.nav85__buscador{
    display: flex ;
    margin-right: 2em;
}
.nav85__point:link{
color: beige;
}
.nav85__point:visited{
    color: white;
}

/*barra navegadora para pcs*/

.navpc{
    display:flex ;
    flex-wrap: wrap;
    position: fixed;
    margin-top: -6rem;
    background-color: rgb(37, 115, 153);
    height: 6rem;
    width: 100vw;
    align-items: flex-end;
    
    
}
.navpc__contenedor{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    flex-grow: 1;

}
.navpc__contenedor--lista{
    justify-content:center ;
    display: flex;
    padding: 0;
    margin: 0;
     top: 0;
    flex-grow: 1;
}

.navpc__contenedor--lista li{
    font-size: medium;
    right: auto;
    bottom: 0;
    display: flex;
    
}

.navpc__imna{
    display: flex;
    flex-grow: 0;
    height: 6rem;
    width: 18rem;
}
.navpc__buscador{
    display: flex;
   
    margin-right:18px;
    
    
}
.navpc__point{
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
}
.navpc__point:link{
    color: beige;
}
.navpc__point:visited{
    color: rgb(255, 255, 255);
}
.navpc__point i{
margin-right: 6px;
padding-top: 4px;
}
.Ihome{
    font-size: 18px;
    padding-bottom: 6px;
}


/*
parte del responsive */
/*hyacer quer funcione le nav responsive*/

@media screen and (min-width: 100px) AND (max-width: 360px){


    .buscadorResponsive{
        position: relative;
        margin: auto;
        opacity: 1;
        display: flex;
    }

    .fa-home{
        font-size: 18px ;
        
        }
    .li__letras{
        position: absolute;
        opacity: 0;
        margin-top: -440px;
    }
    .navpc{
        position: absolute;
       opacity: 0;
       margin: -400px;
    }
    .nav85{
        justify-content: center;
        opacity: 1;
        margin: auto;
        margin-top: -6rem;
        position: fixed;
        background-color: rgb(37, 115, 153);
        height: 5rem;
        width: 100vw;
        align-content: flex-start;
    }
    
    .nav85__imna{
        margin-top: 8px;
        order: 1;
        display: flex;
        align-content: center;
       justify-content: center;
        height: 3rem;
        margin-left: 0px;
    }
    .nav85__contenedor{
        display: flex;
        order: 3;
        margin-bottom: 0%;
        padding-bottom: 0;
        
        
    }
    .nav85__contenedor--ul{
       display: flex;
       justify-content: center;
        list-style: none;
        padding:0 ;
        margin-bottom: 0%;
    }
    .nav85__contenedor--ul li{
        padding: 0;
        margin: 0;
        font-size: smaller;
        display: inline-block;
    }
    .nav85__buscador{
        display: flex;
        font-size: smaller;
        order: 4;
        opacity:0;
        position: absolute;
        margin: -100vh;
  
        
    }
    .nav85__point {
        display: flex;
       margin-bottom: 15px;
    }
}
@media screen and (min-width: 360px) AND (max-width: 500px){





    .fa-home{
        font-size: 18px ;
        
        }
    .navpc{
        position: absolute;
       opacity: 0;
       margin: -400px;
    }
    .nav85{
        align-items: center;
        opacity: 1;
        margin: auto;
        margin-top: -6rem;
        position: fixed;
        background-color: rgb(37, 115, 153);
        
        width: 100vw;
        align-content: flex-start;
    }
    
    .nav85__imna{
        order: 1;
        display: flex;
        align-content: center;
       justify-content: center;
        height: 4rem;
        margin-left: 0px;
    }
    .nav85__contenedor{
        order: 3;
        margin-bottom: 0%;
        padding-bottom: 0;
        display: inline-block;
    
    }
    .nav85__contenedor--ul{
        list-style: none;
        padding:0 ;
        margin-bottom: 0%;
    }
    .nav85__contenedor--ul li{
        padding: 0;
        margin: 0;
        font-size: small;
        
    }
    .nav85__buscador{
        opacity:0;
        position: absolute;
        
    }
    .nav85__point {
        display: flex;
       margin-bottom: 15px;
    }
 
}
@media screen and (min-width:500px) AND (max-width: 650px) {
    .fa-home{
    font-size: 32px;
    }
    .navpc{
        position: absolute;
       opacity: 0;
       margin: -400px;
    }
    .nav85{
        opacity: 1;
        margin: auto;
        margin-top: -6rem;
        position: fixed;
        background-color: rgb(37, 115, 153);
        height: 6rem;
        width: 100vw;
        align-content: flex-start;
    }
    
    .nav85__imna{
        order: 1;
        display: flex;
        align-content: center;
       justify-content: center;
        height: 4.5rem;
        margin-left: 90px;
    }
    .nav85__contenedor{
        order: 3;
        margin-bottom: 0%;
        padding-bottom: 0;
        display: inline-block;
    
    }
    .nav85__contenedor--ul{
        list-style: none;
        padding:0 ;
        margin-bottom: 0%;
    }
    .nav85__contenedor--ul li{
        padding: 0;
        margin: 0;
        font-size: small;
        display: inline-block;
    }
    .nav85__buscador{
        align-content: center;
        margin-left: 6rem;
        justify-content: center;
        order: 2;
        display: flex ;
        margin-right: 2em;
        flex-grow: 1;
        
    }
    .nav85__point {
        display: flex;
       margin-bottom: 15px;
    }
 


}
@media screen and (min-width: 650px) AND (max-width: 850px) {
    .fa-home{
        font-size: 18px ;
        
        }
    .navpc{
        position: absolute;
       opacity: 0;
       margin: -400px;
       
    }
    .nav85{
        opacity: 1;
        margin: auto;
        margin-top: -6rem;
        position: fixed;
        background-color: rgb(37, 115, 153);
        height: 6rem;
        width: 100vw;
    }
}
@media only screen and (max-width: 525px) {
    
    .nav__imna{
        display: inline;
        height: 4rem;
    }
    header{
        justify-content: center;
    }

    h1{
        padding-right: 0%;
        margin-right: 0%;
    }
    .nav__buscador{
        position: relative;
        
        right: 0%;
        bottom: 0%;
        width: 100%;
        display: inline-block;
    }
    .nav__point{
        font-size: 20px;
    }


    .carta {
        position: relative;
        text-align: center;
        display: inline-block;
        padding: 1em;
        background-color: rgb(209, 229, 248); 
        width: 90vw; 
        position: relative;
        border-radius: 8px;
  
       
       
        z-index: 1;
    }
    body{
        max-width: 100vw;
    }

    .foot__leg{
        position: relative;
        
        display: block;

    }
    
    .foot{

        height: calc(3rem + 10px);

    }
}