<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link th:rel="stylesheet"  type="text/css" th:href="@{/css/estiloform.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/f2ccc389f0.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deja tu comentario!!:)</title>
</head>
<body>
    <div th:insert="layouts/navderecha :: sidenav" class="nav-costado" ></div>

    <div class="formFlexPadre">
       <p class=" form__tit">Cargar Circuito</p> 
        <form th:object="${circuito}" th:action=" @{/circuito/guardar}" class="formFlex" method="post" enctype="multipart/form-data">
            <div class="formFlex__div">
                <input type="hidden" id="identificadorPoi" th:field="*{id}" />
                <textarea th:field="*{nombre}" class="formFLex__input" type="text" placeholder="nombre"></textarea>
            </div>

            <div class="formFlex__div">
               <textarea th:field="*{descripcion}" class="formFLex__input" placeholder="descripcion"></textarea>
            </div>
            <div class="formFlex__div">
                <textarea th:field="*{vistaprev}" class="formFLex__input" placeholder="vista previa (descipcion corta)"></textarea>
             </div>


            <div class="formFlex__div">
                <label for="reg" class="lab">region</label>
                <select th:field="*{region}" class="formFLex__input" placeholder="region" id="reg">
                    <option value="puna">puna</option>
                    <option value="valle">valle</option>
                    <option value="quebrada">quebrada</option>
                    <option value="yungas">yungas</option>
                </select>
            </div>
            <div class="formFlex__div">
                <label for="dif" class="lab">Dificultad</label>
                <select th:field="*{dificultad}" class="formFLex__input" placeholder="region" id="dif">
                    <option value="baja">baja</option>
                    <option value="media">media</option>
                    <option value="alta">alta</option>
                 </select>
            </div>
            <div class="formFlex__div">
                <label for="dist" class="lab">Distancia</label>
                <input id="dist" th:field="*{distancia}" class="formFLex__input" type="number" placeholder="distancia" step="any">
            </div>
            <div class="formFlex__div">
                <label class="lab">Duracion</label>
                <input th:field="*{duracion}" class="formFLex__input" type="number" placeholder="duracion">
            </div> 


            <div class="formFlex__div">
                <label class="lab">Desnivel</label>
                <input th:field="*{desnivel}" class="formFLex__input" type="number" placeholder="desnivel positivo o negativo">
            </div> 
            <div class="formFlex__div">
                <label class="lab">Tiempo operable</label>
                <input th:field="*{operable}" class="formFLex__input" type="text" placeholder="operable">
            </div> 



            <div class="formFlex__div">
            <label class="lab">Imagen 1</label>
                
            <input type="file" name="file" class=" form-control-file formFLex__input" id="file"
            accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
            </div>

            <div class="formFlex__div">
                <label class="lab">Imagen 2</label>
                    
                <input type="file" name="file1" class="form-control-file formFLex__input" id="file1"
                accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile1(event)">
         </div>
         <div class="formFlex__div">
            <label class="lab">Imagen 3</label>
                
            <input type="file" name="file2" class="form-control-file formFLex__input" id="file2"
            accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile2(event)">


         </div>


            <div class="formFlex__div">
                <input type="submit" class="formFLex__input sumb">
            </div>

        </form>
      
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>