<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link th:rel="stylesheet"  type="text/css" th:href="@{/css/estiloform.css}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deja tu comentario!!:)</title>
</head>
<body>
    <div class="formFlexPadre">
        <img th class="formFlex__img" th:src="@{/img/navultimo.png}" src="../img/navultimo.png" >
        <form th:object="${circuito}" th:action=" @{/circuito/guardar}" class="formFlex" method="post" enctype="multipart/form-data">
            <div class="formFlex__div">
                <input type="hidden" id="identificadorPoi" th:field="*{id}" />
                <input th:field="*{nombre}" class="formFLex__input" type="text" placeholder="nombre">
            </div>

            <div class="formFlex__div">
               <textarea th:field="*{descripcion}" class="formFLex__input" placeholder="descripcion"></textarea>
            </div>
            <div class="formFlex__div">
                <textarea th:field="*{vistaprev}" class="formFLex__input" placeholder="vista previa (descipcion corta)"></textarea>
             </div>


            <div class="formFlex__div">
                <label class="lab">Region</label>
                <select th:field="*{region}" class="formFLex__input" placeholder="region" >
                    <option value="puna">puna</option>
                    <option value="valle">valle</option>
                    <option value="quebrada">quebrada</option>
                    <option value="yungas">yungas</option>
                </select>
            </div>
            <div class="formFlex__div">
                <label class="lab">dificultad</label>
                <select th:field="*{dificultad}" class="formFLex__input" placeholder="region">
                    <option value="baja">baja</option>
                    <option value="media">media</option>
                    <option value="alta">alta</option>
                 </select>
            <div class="formFlex__div">
                <label class="lab">distancia</label>
                <input th:field="*{distancia}" class="formFLex__input" type="number" placeholder="distancia" step="any">
            </div>
            <div class="formFlex__div">
                <label class="lab">duracion</label>
                <input th:field="*{duracion}" class="formFLex__input" type="number" placeholder="duracion">
            </div> 


            <div class="formFlex__div">
                <label class="lab">desnivel</label>
                <input th:field="*{desnivel}" class="formFLex__input" type="number" placeholder="desnivel positivo o negativo">
            </div> 
            <div class="formFlex__div">
                <input th:field="*{operable}" class="formFLex__input" type="text" placeholder="operable">
            </div> 



            <div class="formFlex__div">
            <label class="lab">Imagen 1</label>
                
            <input type="file" name="file" class=" form-control-file formFLex__input" id="file"
            accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
            </div>

            <div class="formFlex__div">
                <label class="lab">Imagen 2</label>
                    
                <input type="file" name="file1" class="form-control-file formFLex__input" id="file1"
                accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile1(event)">
         </div>
         <div class="formFlex__div">
            <label class="lab">Imagen 3</label>
                
            <input type="file" name="file2" class="form-control-file formFLex__input" id="file2"
            accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile2(event)">


         </div>




            <div class="formFlex__div">
                <input type="submit" class="formFLex__input sumb">
            </div>

        </form>
      
    </div>
</body>
</html>