<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos ?</title>
    
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilosk.css}" />
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/quienesSomos.css}" />
   
   <script src="https://kit.fontawesome.com/f2ccc389f0.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200;400;700&family=Poppins:wght@100;300;400&family=Sono:wght@200;300;400&display=swap" rel="stylesheet">
 
</head>
<body class="bodytodos" id="bodyQS">
	
	<div th:insert="layouts/header :: header" ></div>
	
        <main class="mainquien">
          <h1 class="titulosquien">¿Que es Canela Trekking?</h1>
          <div class="containerp ">
            <div class="containerp__quienesomos">    
               <p>Nos dedidamos a mostrarte 
              las bellezas paisajísticas y culturales dentro de las cuatro regiones de la Provincia de Jujuy, 
              teniendo como principal diferencial la SEGURIDAD. <br>
              Ofrecemos experiencias de senderismo para todos los estados fisicos y edades, con distintas dificultades, distancias y duracion.
              Todas son perfectas para desconectarse, conocer lugares o probar nuevas experiencias solo o acompañado. <br>
              Estamos registrados como Prestadores de Turismo Activo, nos avalan mas de 5 años de experiencia, y mas de 60 salidas exitosas a lo largo y ancho de todo el mapa jujeño<br><br>
              !su consulta por cualquier circuito o un lugar no listado sera bienvenida y resuelta  a la brevedad!
              </p> 
          </div>
          <div class="containerp__carrousel">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/quienes somos/1.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/2.jpg" class=" d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/3.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/4.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/5.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/6.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/7.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/8.jpg" class="d-block imgver" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/quienes somos/9.jpg" class="d-block imgver" alt="...">
                </div>
              </div>
            </div>


          </div>
          </div>

</main>

<footer th:insert="layouts/footer :: footer" ></footer>



</body>
</html>